:root {
  --white: #ffffff;

  --neutral-100: #fafafa;
  --neutral-200: #ecece0;
  --neutral-300: #dfdfce;
  --neutral-400: #dedeba;

  --neutral-600: #6d6d5f;
  --neutral-700: #4f4f40;
  --neutral-800: #2f2f23;
  --neutral-900: #12120c;

  --text: #1f1f1f;
  --text-soft: #4d4d4d;
  --text-muted: #858585;

  --text-inverse: #fcfcfc;
  --text-inverse-soft: #e6e6e6;
  --text-inverse-muted: #b3b3b3;

  --brand-500: #ffc91f;
  --brand-600: #ffb81f;

  --grid-gap: 1rem;
}

/* semantic color variables for this project */
:root {
  --surface-a: var(--neutral-100);
  --surface-b: var(--neutral-200);
  --surface-a-hover: var(--neutral-200);

  --primary: var(--brand-500);
  --primary-hover: var(--brand-600);
  --text-on-primary: var(--neutral-900);

  --text-strong: var(--neutral-900);
  --text-medium: var(--neutral-800);
  --text-muted: var(--neutral-700);

  --border-accent: var(--primary);
  --border-strong: var(--text-strong);
  --border-medium: var(--text-medium);
  --border-muted: var(--text-muted);
}

body.dark {
  --surface-a: var(--neutral-900);
  --surface-b: var(--neutral-800);
  --surface-a-hover: var(--neutral-800);

  --primary: var(--brand-500);
  --primary-hover: var(--brand-600);
  --text-on-primary: var(--neutral-900);

  --text-strong: var(--neutral-100);
  --text-medium: var(--neutral-200);
  --text-muted: var(--neutral-300);

  --border-accent: var(--primary);
  --border-strong: var(--text-strong);
  --border-medium: var(--text-medium);
  --border-muted: var(--text-muted);
}

body {
  min-height: 100vh;
  min-width: 100%;
  color: var(--color-text);
  background: var(--surface-b);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-a);
}

section, footer {
  padding: 1rem;
  flex: 1 0 0;
  margin: 0;
}

.section {
  display: flex;
  align-items: flex-start;
  gap: var(--grid-gap, 1rem);
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.section-intro {
  font-family: 'Geist', sans-serif;
  font-size: var(2rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(2.5rem); /* 125% */
}

.container {
  display: flex;
  flex: 1 0 0;
  width: 100%;
}

.container.col {
  flex-direction: column;
}

.container.zero {
  gap: 0;
}

.container.close {
  gap: 1rem;
}

.container.far {
  gap: 2rem;
}

.container.left {
  display: flex;
  flex: 1 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 7rem;
}

.container.left.body-md {
  width: calc(50% - 0.5rem);
  margin-left: calc(16.67% - 0.5rem);
}

.container.right {
  display: flex;
  flex: 1 0 0;
  align-items: flex-end;
  padding-top: 4.5rem;
}

.container.right h4 {
  width: 100%;
}

.half-width {
  width: calc(50% - 0.5rem);
}

button.primary {
  background-color: var(--primary);
  color: var(--text-on-primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

button.primary:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.identation {
  margin-top: 0.75rem;
  height: 1px;
  align-self: stretch;
  width: calc(50% - 0.5rem);
  border: none;
  background-color: var(--border-medium);
}

@media screen and (min-width: 480px) {
  .section, footer {
    padding: 2rem;
  }

}

@media screen and (min-width: 1440px) {
  .section, footer {
    padding: 2.5rem;
  }
}
